body {
    margin: 0;
    background-color: #1B244A;
}

.container {
    display: flex;
    justify-content: space-around;
}

h3{
    font-family: Verdana;
    color: #EEEEEE;
}

@font-face {
    font-family: 'CursedTimerUlil-Aznm';
    src: url('fonts/CursedTimerUlil-Aznm.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
} 

.score-block--home{
    display: flex;
    justify-content: center;
    width: 10rem;
    height: 10rem;
    background-color: black;
    border-radius: .5rem;
    
}

.score-block--guest{
    display: flex;
    justify-content: center;
    width: 10rem;
    height: 10rem;
    background-color: black;
    border-radius: .5rem;
}

.score-home{
    display: flex; 
    justify-content: center;
    font-size: 6rem;
    color: #F94F6D;
    font-family: 'CursedTimerUlil-Aznm';
    text-align: center;
    margin-top: 2rem;
}

.score-guest{
    display: flex; 
    justify-content: center;
    font-size: 6rem;
    color: #F94F6D;
    font-family: 'CursedTimerUlil-Aznm';
    text-align: center;
    margin-top: 2rem;
}

.add-points-btns--home{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    width: fit-content;
}

.add-points-btns--guest{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    width: fit-content;
}

.add{
    height: 2.5rem;
    width: 2.5rem;
    margin-right: .5rem;
    font-family: 'CursedTimerUlil-Aznm';
    border-color: #9AABD8;
    color: #9AABD8;
    background-color: transparent;
    text-align: center;
    border-radius: .5rem;
}